<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.istudy.server.cms.service.IStudyMinisiteService">
	<insert id="savePrepExamSubscribe" parameterType="com.istudy.server.cms.vo.PrepExamSubscribeVo">
		INSERT INTO CMS_PREP_EXAM_SUBSCRIBE
		(PHONE,NAME,UUID,DATETIME)
		VALUES
		(#{PHONE},
		#{NAME},
		#{UUID},
		SYSDATE());
	</insert>
	
	<select id="checkPrepExamSubscribeUnique" resultType="java.lang.Integer">
		SELECT COUNT(*) TOTAL 
		FROM CMS_PREP_EXAM_SUBSCRIBE
		WHERE PHONE = #{PHONE}
	</select>
</mapper>